<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport content="width=device-width,initial-scale=1">
<link rel=icon href=/favicon.ico>
<title>myvuetest</title>
<link href=resources/css/app.ff04540c.css rel=preload as=style>
<link href=resources/js/app.7b872797.js rel=preload as=script>
<link href=resources/js/chunk-vendors.6240f7ba.js rel=preload as=script>
<link href=resources/css/app.ff04540c.css rel=stylesheet>
</head>
<body>
	<noscript>
		<strong>We're sorry but myvuetest doesn't work properly
			without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<div id=app></div>
	<script src=resources/js/chunk-vendors.6240f7ba.js></script>
	<script src=resources/js/app.7b872797.js></script>
</body>
</html>